$primary-color: #2E2E99;
$primary-color-1 : #01037C;

$secondary-color:  #606077;
$color-dark: #373737;

$border: 1px solid #DEA000;
$background-yellow: #DEA000;

$font-family-primary: 'Mukta', sans-serif;;