.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.8rem;
  background: $primary-color;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  font-family: $font-family-primary;
}

.cta {
  border-radius: 5px;
  font-family: $font-family-primary;
  padding: 0.8rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &__yellow {
    background: $background-yellow;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #ffffff;
  }

  &__blue {
    border: 1px solid #01037c;
  }
}
