.nav {
  position: relative;
  align-self: stretch;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #606077;

    &-active {
      color: $primary-color-1 !important;
      border-bottom: 2px solid #01037c;
    }
  }
}
