*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

.app {
  width: 100%;
  position: relative;
  font-size: inherit;
}

.layout {
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  background-color: #e5e5e5;
  padding-bottom: 3rem;
}

.info {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2E2E99;
  width: fit-content;
}

.muted {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #606077;
  font-style: normal;
  font-weight: 500;
  line-height: 109.7%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.muted__dark {
  color: #373737;
  font-size: 16px;
}

.status {
  background: rgba(255, 153, 31, 0.15);
  border-radius: 4px;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: #ff991f;
  padding: 0.3rem;
}

.mb-bg {
  margin-bottom: 6rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-xsm {
  margin-bottom: 1rem;
}

.mt-bg {
  margin-top: 6rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-xsm {
  margin-top: 1rem;
}

.mr-bg {
  margin-right: 6rem;
}

.mr-md {
  margin-right: 4rem;
}

.mr-sm {
  margin-right: 2rem;
}

.ml-bg {
  margin-left: 6rem;
}

.ml-md {
  margin-left: 4rem;
}

.ml-sm {
  margin-left: 2rem;
}

.ma {
  margin: auto;
}

.ta {
  text-align: center;
}

.pt {
  padding-top: 6rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.8rem;
  background: #2E2E99;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  font-family: "Mukta", sans-serif;
}

.cta {
  border-radius: 5px;
  font-family: "Mukta", sans-serif;
  padding: 0.8rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.cta__yellow {
  background: #DEA000;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #ffffff;
}
.cta__blue {
  border: 1px solid #01037c;
}

.summary {
  background-color: white;
  width: 682px;
  border: 1px solid #ededed;
  border-radius: 10px;
}
.summary__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 50px;
  row-gap: 50px;
  padding: 3rem 0;
}
.summary__list > p:first-child {
  margin-bottom: 0.5rem;
}
.summary__dropdown {
  position: relative;
  grid-column: 1/-1;
  justify-self: end;
  width: 35%;
}
.summary__dropdown-cta {
  width: 100%;
  background-color: #2E2E99;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.summary__dropdown__list {
  position: absolute;
  top: -125px;
  z-index: 100;
  background: #ffffff;
  box-shadow: 2px 2px 1px #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
}
.summary__dropdown__list > * {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #606077;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.form {
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 10px;
}
.form__container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.form__group {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #373737;
}
.form__input {
  background: #ffffff;
  border: 1px solid #dea000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem;
  font-size: inherit;
  font-family: "Mukta", sans-serif;
}
.form__input-disabled {
  background-color: #EDEDED;
  border: none;
}
.form__input:focus {
  outline: none;
}
.form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 165.5%;
  color: #606077;
}

.form1 {
  align-content: flex-start;
}
.form1-name, .form1-home {
  grid-column: 1/-1;
}

.form2-desc {
  grid-column: 1/-1;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
}
.header__icons {
  display: flex;
}
.header__icons-1, .header__icons-2 {
  background-color: #2E2E99;
  border-radius: 4px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.nav {
  position: relative;
  align-self: stretch;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}
.nav__item {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #606077;
}
.nav__link-active {
  color: #01037C !important;
  border-bottom: 2px solid #01037c;
}

.request {
  width: 100%;
  position: relative;
}
.request__container {
  display: flex;
  flex-direction: column;
}

.invoice {
  width: 100%;
  position: relative;
}
.invoice__forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.invoice__buttons {
  grid-column: 2/-1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.invoice__buttons > * {
  width: 100%;
}
.invoice__buttons > *:not(:last-child) {
  margin-right: 1rem;
}

.preview {
  width: 100%;
  position: relative;
}
.preview__form {
  background-color: #ffffff;
  width: 580px;
  border: 1px solid #ededed;
}
.preview__form-container {
  width: 90%;
  margin: auto;
  padding: 1rem 0 4rem 0;
}
.preview__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.preview__items {
  display: flex;
  justify-content: space-between;
}
.preview__items-1 > *:not(:last-child) {
  margin-bottom: 2rem;
  font-family: "Mukta", sans-serif;
}
.preview__items-2 > * {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.preview__items-2 > * > * {
  margin-bottom: 0.6rem;
}
.preview__items-2 > *:not(:last-child) {
  margin-bottom: 1rem;
}
.preview__table {
  margin-top: 2rem;
}
.preview__detail, .preview__title {
  display: flex;
  justify-content: space-between;
}
.preview__title {
  margin-bottom: 1rem;
}
.preview__detail {
  margin-top: 1rem;
}
.preview__amount {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.preview__amount > div {
  width: 50%;
}
.preview__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #ededed;
}
.preview__list:last-child {
  border-bottom: 1px solid #ededed;
}
.preview__buttons {
  width: 580px;
  display: flex;
  justify-content: space-between;
}
.preview__buttons > * {
  width: 100%;
}
.preview__buttons > *:not(:last-child) {
  margin-right: 3rem;
}

.hr {
  border: 1px solid #ededed;
}

/*# sourceMappingURL=index.css.map */
